{% extends "@Reuniounou/Default/template.html.twig" %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h2 class="form-signin-heading">Création d'un événement</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
