{% extends "@Reuniounou/Default/template.html.twig" %}

{% block body %}

    <title class="badge-light">REUNIONOU - connexion</title>

    <div class="container-fluid">

        <div class="form-signin" id="form">
            <center><h2 class="form-signin-heading">Connexion</h2></center>

            {% if error == "NoResultException" %}

                <div class="alert alert-danger">
                    Identifiant ou mot de passe incorrect
                </div>

            {% elseif error == "NoError" %}

                <div class="alert alert-success">
                    Connexion réussie
                </div>

            {% endif %}

            {{ form_start(form) }}<br>
            <center>
            {{ form_widget(form) }}
            </center>
            {{ form_end(form) }}<br>

            <a href="inscription">Pas encore des notres ?</a>

        </div>
    </div>
{% endblock %}
