{% extends "@Reuniounou/Default/template.html.twig" %}
{% block body %}
    <title>MONEYTORING - connexion</title>
    <div class="container">
        <div class="form-signin" id="form">
            <h2 class="form-signin-heading">Connexion</h2>

            {% if error == "NoResultException" %}
                <div class="alert alert-danger">
                    Identifiant ou mot de passe incorrect
                </div>

            {% elseif error == "NoError" %}
                <div class="alert alert-success">
                    Connexion réussie
                </div>
            {% endif %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <a href="inscription">Pas encore des notres ?</a>
            <a href="reinitialisation">Mot de passe oublié ?</a>
        </div>
    </div>
{% endblock %}
