{% extends "@Reuniounou/Default/template.html.twig" %}

{% block body %}

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <div class="container-fluid">

        <h1 style="text-align:center"> REUNIONOU </h1><br>

        <h3 class="form-signin-heading">Bienvenue </h3>

    </div>

{% endblock %}