{% extends "@Reuniounou/Default/template.html.twig" %}

{% block body %}

<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

<style>
        body {
            
            background-color: slategrey;
        }
    
  .form-control
  {
    padding-top: 40px;
	padding-bottom: 40px;
  }

</style>

<div class="container-fluid">

	<title class="badge-light">REUNIONOU - Index</title>

	<div class="container-fluid">

		<div class="form-signin" id="form">

			<h1 style="text-align:center"> REUNIONOU </h1><br>

      {% if prenom != null %}
        <h3 class="form-signin-heading">Bienvenue {{ prenom }}</h3>
			{% else %}
        <h3 class="form-signin-heading">Bienvenue</h3>
      {% endif %}

			<center>
        {% if id != null %}
      		<a class="btn btn-primary" href="event/create">Creer</a>
          <a class="btn btn-primary" href="">Gérer</a>
        {% else %}
          <a class="btn btn-primary" href="">Gérer</a>
        {% endif %}


			</center>

		</div>
	</div>
</div>

{% endblock %}
